<%= stylesheet_link_tag('main')%>
<h1> Welcome to Easeply (An Application Service) </h1>

<div class = "container">
  <a href="/inquiries/new">
    <div>
      <div class = "box"> 
          <h2> Are you a student here to apply? </h2>
          <p> Click here! </p>
      </div>
    </div>
  </a>


  <a href = "/admin">
    <div>
      <div class = "box">
        <h2> Adminstrator login </h2>
        <p> placeholder wip </p>
      </div>
    </div>
  </a>
</div>
