<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div class = "container justify-content-center">
  <h1>Thank you for applying <%=@user.username %></h1>
  <p>
    We are just letting you know that we have received your application!
  </p>
  <p>
    Please keep your eyes peel on your inbox for future communications!
  </p>
  <p>Thanks for applying and have a great day! <br>
  -Easeply team</p>
</div>
</body>
</html>