<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Easeply <%= @user.username %></h1>
<p>
  We're just letting you know that you've successfully signed up for Easeply,
  <br>You're all set to apply!
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!<br>
-Easeply Team</p>
</body>
</html>